*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
	padding-left: 50px;
	font-size: 3rem;
}

.navbar-light .navbar-brand {
    color: rgb(148 143 143);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: .5rem;
}

.img-fluid {
  background-size: cover;
  object-fit: cover;
  min-width: 100%;
  max-height: 100%;
}

.bg-light {
	background-color: #000! important;
}

.footer {
	background-color: #000! important;
}

.text-lg-start {
    text-align: center!important;
}

.bg-image {
  background-image: url("river.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.carousel-caption {
  top: 50%;
  position: absolute;
  right: auto;
  bottom: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20%;
  color: #fff;
  text-align: center;
}



.text-typing {
  padding:20px 30px;
  font-size:1.77vw;
  font-family:monospace;
  border-radius:29px;
  text-align: center;
}




.text-typing p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 2s steps(30) forwards,
            blink 2s infinite;
  
  border-right: 1px solid black;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}

.container-fluid {
  padding: 0;
}


